<div class="git-diff">
    <div class="git-diff-header">
        <div class="git-diff-title" id="gitDiffTitle">Diff</div>
        <div class="git-diff-meta" id="gitDiffMeta"></div>
        <div class="git-diff-controls">
            <button type="button" class="secondary" data-local-action="setDiffMode split">Split</button>
            <button type="button" class="secondary" data-local-action="setDiffMode unified">Unified</button>
            <button type="button" class="secondary git-diff-ignore" id="gitDiffIgnore" data-local-action="ignoreFile">Ignore</button>
        </div>
    </div>
    <div class="git-diff-split" id="gitDiffSplit">
        <pre class="git-diff-body git-diff-pane" id="gitDiffLeft"></pre>
        <pre class="git-diff-body git-diff-pane" id="gitDiffRight"></pre>
    </div>
    <pre class="git-diff-body" id="gitDiffBody"></pre>
</div>
