<div class="modal-header">
    <div class="modal-title">Unstash</div>
    <div class="close" data-local-action="closeModal" aria-label="Close">
        <img class="close-icon" src="/explorer/assets/icons/x-mark.svg" alt="close">
    </div>
</div>
<div class="modal-body">
    <div class="stash-modal-subtitle">Select a stash to apply for $$repoLabel</div>
    <div class="stash-list">
        $$stashesHTML
    </div>
    <div class="bottom-modal-section modal-actions">
        <button class="general-button" data-local-action="confirmSelection">Unstash</button>
        <button class="gray-button" data-local-action="closeModal">Cancel</button>
    </div>
</div>
