<div class="git-changes">
    <div class="git-section git-section-repos">
        <div class="git-section-header git-repos-header">
            <span>Repositories</span>
            <div class="git-repo-filter">
                <input
                        id="gitRepoFilterInput"
                        class="git-repo-filter-input"
                        type="text"
                        placeholder="Filter repositories"
                        autocomplete="off"
                        spellcheck="false"
                >
            </div>
        </div>
        <div class="git-section-body git-repo-tree-list"></div>
    </div>
</div>
